#result {
    font-weight: 600;
}

.btn {
    width: 150px;
}

#submitGuess {
    margin-left: 17%
}
    
.btn-admin {
    margin-left: 1%
}

#pass {
    margin-left: 1%
}

#dateResolved {
    font-size: 14px;
    font-weight: 300;
}

#guessesTableContainer {
    margin-left: 10%;
    width: 70%
}
